.ceng {
  width: 100px;
  height: 100px;
  background-color: pink;
  cursor: pointer;
  transition-duration: 2s;
  transition-delay: 0.2s;
  transition-property: all;
  transition-timing-function: ease;
}
.ceng:hover {
  width: 200px;
  height: 200px;
  background-color: red;
  border-radius: 20%;
}