body {
  background-color: #ddd;
}
#main {
  margin: 100px auto;
  width: 800px;
  clear: both;
}
#main li {
  list-style: none;
  width: 240px;
  padding: 1px;
  border: 1px solid rgba(255, 0, 0, 0);
  cursor: pointer;
}
#main li:hover {
  border: 1px solid rgba(255, 0, 0, 1);
}
#main li:hover .img img {
  opacity: 0.8;
}
.img img {
  width: 240px;
  /* 高度不设置,让他随内容高度配合容器宽度自动换行,往下填充 */
  /* height:  */
  transition: .5s;
}
.goods_title {
  margin: 10px;
  color: #666;
  height: 50px;
  overflow: hidden;
}
.price {
  margin: 10px;
  color: red;
}
